@import url("https://fonts.googleapis.com/css2?family=Poor+Story");

body {
    font-family: 'Poor Story', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #570000;
    text-align: center;
    background-image: url(dark-sky.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
p { 
    font-size: 2rem;
}

h1{ 
    font-size: 3rem;
}
h2 { 
    font-size: 2.5rem;
}
hr { 
    margin-top: 50px;
    margin-bottom: 50px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.felix-sitting { 
    width: 46%;
    height: 60%;
    transition: transform .2s;
    margin: 0 auto;
}

.blinking-voice {
    width: 10%;
    height: 15%;
    float: right;
    animation-name: voiceBlink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes voiceBlink { 
    0% { 
        opacity: 1;
    }
    50% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1;
    }
}

.felix-sitting:hover { 
    transform: scale(1.15);
}
.felix { 
    width: 23%;
    height: 30%;
    transition: transform .2s;
    margin: 0 auto;
    animation-name: moveFelix;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.felix:hover { 
    transform: scale(1.15);
}

@keyframes moveFelix { 
    100% { 
        transform: translateX(300px); 
        display:none;
    }
}

.portal, .character {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.portal:hover, .character:hover {
    background-color: #2d362e;
}
#scene3 { 
    background-image: url(enchanted-forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#scene3, .p { 
    background-color: #2d362e;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

h1 { 
    position: relative;
    width: 14ch;
    animation: type 2s steps(14), blink 0.3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
@keyframes type {
    0% {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }